<div class="home__container">
  <po-page-default>
    <div class="home__container-cabecalho">
      <section class="toolbar">
        <app-barra-ferramentas
          (ir-para)="navegarPara($event)"
          (sair)="sairPortal()"
        ></app-barra-ferramentas>
      </section>
    </div>
    <div class="home__container-conteudo">
      <section class="titulo">
        <div class="titulo-boasvindas">
          {{ literals.saudacao | stringFormat : this.usuario?.nome}}
        </div>
        <div>{{ literals.mensagem }}</div>
      </section>
      <section class="dashboard">
        <app-dashboard (ir-para)="navegarPara($event)"></app-dashboard>
      </section>
    </div>
  </po-page-default>

  <div class="menu">
    <div
      class="menu__mobile po-visible-sm po-visible-md po-hidden-lg po-hidden-xl"
    >
      <div class="menu__mobile-item" *ngFor="let menu of menus">
        <a class="menu__mobile-item-link" [routerLink]="[menu.link]"
          ><span class="po-icon" [ngClass]="menu.icon"></span
        ></a>
      </div>
    </div>
  </div>

  <po-menu class="menu__padrao" [p-menus]="menus" [p-filter]="true"> </po-menu>
</div>
